<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> 书籍信息删除</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('blue.mainPage') }}">管理员界面</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('blue.logout') }}">管理员登出</a></li>
            <li class="active"><a href="{{ url_for('blue.notice')}}">系统帮助提醒</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    管理员服务 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('blue1.manageSearch') }}">管理员信息查询</a></li>
                    <li><a href="{{ url_for('blue1.manageUpdate') }}">管理员信息更新</a></li>
                    <li><a href="{{ url_for('blue1.manageDelete') }}">管理员信息删除</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    饮品信息管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                    <li><a href="{{ url_for('blue1.bookInsert') }}">饮品信息插入</a></li>
                    <li><a href="{{ url_for('blue1.drinkSearch') }}">饮品信息查询</a></li>
                    <li><a href="{{ url_for('blue1.drinkUpdate') }}">饮品信息更新</a></li>
                    <li><a href="{{ url_for('blue1.drinkDelete') }}">饮品信息删除 </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    书籍信息管理 <b class="caret"></b>
                </a>
                 <ul class="dropdown-menu">
                    <li><a href="{{ url_for('blue1.bookInsert') }}">书籍信息插入</a></li>
                    <li><a href="{{ url_for('blue1.bookSearch') }}">书籍信息查询</a></li>
                    <li><a href="{{ url_for('blue1.bookUpdate') }}">书籍信息更新</a></li>
                    <li><a href="{{ url_for('blue1.bookDelete') }}">书籍信息删除 </a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    其它服务<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('blue1.recordDelete') }}">归还书籍</a></li>
                    <li><a href="{{ url_for('blue1.cash') }}">收银</a></li>
                </ul>
             </li>
        </ul>
    </div>
    </div>
</nav>
</div>
<div class="jumbotron" >
  <h1 style="color:#2d72d9">书籍信息删除</h1>
</div>

<div class="col-md-12 column">
			<blockquote>
				<p style="color: rebeccapurple">欢迎登录：</p>
                <small>学号为{{ session.get('userID') }}的管理员 </small>
			</blockquote>
    <div class="page-header">
				<h1 align="center">书籍信息删除</h1>

        <div>
            <form action="" method="post">
书籍编号: <input type="text" name="bookID"maxlength="7" value="{{ bookID }}">


<button type="submit">书籍信息删除 </button >

</form>

</div>
        <table class="table">
				<thead>
					<tr>
						<th>
							书目编号
						</th>
						<th>
							书目名称
						</th>
						<th>
							书目作者
						</th>
						<th>
							书目馆藏量
						</th>
                        <th>
							所在书架号
						</th>


					</tr>
				</thead>
            <tbody>
                    {% for bk in quanbu %}
					<tr>
						<td>{{ bk.bookID}}</td>
                        <td>{{ bk.bookName }}</td>
						<td>{{ bk.bookAuthor }}</td>
						<td>{{ bk.bookStorage }}</td>
                        <td>{{ bk.bookShelf }}</td>

					</tr>
                    {% endfor %}
                 </tbody>
			</table>


        </div>
    </div>
</div>
            {% if flag==2 %}
          <script>alert("书籍信息删除成功")</script>
            {% endif %}
            {% if flag==1%}
          <script>alert("该书在被借阅，不能删除")</script>
             {% endif %}
            {% if flag==3%}
          <script>alert("书籍未查找到")</script>
             {% endif %}


</body>
</html>