<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>饮品信息查询</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">

		<a class="navbar-brand" href="{{ url_for('blue.clientMainPage') }}">客户端首页</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="{{ url_for('blue.logout') }}">客户端退出</a></li>
			<li><a href="{{url_for('blue2.clientDrinkLook')}}">饮料信息查询</a></li>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					书屋书籍服务 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">借阅书籍</a></li>
					<li><a href="#">书籍信息查询</a></li>
					<li><a href="#">个人借阅记录</a></li>
                    <li><a href="{{url_for('blue2.clientPage')}} ">个人信息修改</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>
<div class="page-header">
    <h1>饮品信息查询
        <small>咖啡书屋为您带来最贴心舒适的阅读环境</small>
    </h1>
</div>

<div class="container">
   <div class="jumbotron">
        <h1>欢迎光临咖啡书屋！</h1>
        <p>咖啡书屋哈工程站全体员工竭诚为您服务。</p>


   </div>
</div>


 <form action="" method="post">
饮品编号: <input type="text" name="dID"maxlength="11" >
     &nbsp;&nbsp;
饮品名称: <input type="text" name="dName"maxlength="20" >

饮品剩余量: <input type="text" name="dStorage"maxlength="11" >
     &nbsp;&nbsp;
饮品售价: <input type="text" name="dSell"maxlength="12" >

 &nbsp;&nbsp;
<button type="submit" href="">查找 </button >

</form>

</div>

        <table class="table">
				<thead>
					<tr>
						<th>
							饮品编号
						</th>
						<th>
							饮品名称
						</th>
						<th>
							饮品剩余量
						</th>
						<th>
							饮品售价
						</th>


					</tr>
				</thead>
            <tbody>
                    {% for dk in quanbu %}
					<tr>
						<td>{{ dk.dID }}</td>
                        <td>{{ dk.dName }}</td>
						<td>{{ dk.dStorage }}</td>
						<td>{{ dk.dSell }}</td>


					</tr>
                    {% endfor %}
                 </tbody>
			</table>

</body>
</html>